# API Config
API_HOST=0.0.0.0
API_PORT=8000
API_BIND=127.0.0.1
API_PUBLISHED_PORT=8005
HQG_DASH_JWKS_URL=


# Proxy Config (optional - only set if using BUSN servers)
# HTTP_PROXY=http://proxy.changeme.com:1234
# HTTPS_PROXY=https://proxy.changeme.com:1234
# NO_PROXY=localhost,127.0.0.1,0.0.0.0
