services:
  backtester-api:
    build: .
    env_file:
      - .env
    container_name: hqg-backtester
    ports:
      - "8000:8000"
    volumes:
      - ./src/strategy_temp:/app/src/strategy_temp    # TODO: add CRON job or equiv to wipe old files (save for debugging / checking for malicious attempts)
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s
